.workspace-child13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 239.75px;
  height: 1080px;
}
.workspace-child14 {
  position: absolute;
  top: 1018.03px;
  left: 11.02px;
  border-radius: var(--br-5xs);
  width: 220.83px;
  height: 43.06px;
}
.add-workspace2 {
  position: absolute;
  top: 1033.53px;
  left: 48.95px;
  line-height: 100%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 157.98px;
  height: 13.45px;
  transform: rotate(-0.19deg);
  transform-origin: 0 0;
}
.vector-icon17 {
  position: absolute;
  height: 1.62%;
  width: 7.29%;
  top: 95.47%;
  right: 81.02%;
  bottom: 2.91%;
  left: 11.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.workspace-child15,
.workspace-child16 {
  position: absolute;
  top: 275px;
  left: 17px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  width: 210px;
  height: 50px;
}
.workspace-child16 {
  top: 344px;
}
.workspace-child17 {
  position: absolute;
  top: 986.5px;
  left: 17.5px;
  width: 209px;
  height: 9px;
}
.workspace-child18 {
  position: absolute;
  top: 78.5px;
  left: 20.5px;
  width: 203px;
  height: 3px;
}
.workspace-child19,
.workspace5 {
  position: absolute;
  top: 185.5px;
  left: 17.5px;
  width: 209px;
  height: 9px;
}
.workspace5 {
  top: 24px;
  left: 22px;
  font-size: var(--font-size-3xl);
  line-height: 100%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 42px;
}
.workspace-child20 {
  position: absolute;
  top: 114px;
  left: 17px;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray-200);
  width: 210px;
  height: 50px;
}
.vector-icon18 {
  position: absolute;
  height: 1.57%;
  width: 7.09%;
  top: 12.22%;
  right: 9.49%;
  bottom: 86.2%;
  left: 83.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.workspace-child21 {
  position: absolute;
  top: 202px;
  left: 17px;
  border-radius: var(--br-5xs);
  width: 210px;
  height: 50px;
}
.lorem-ipsum2 {
  top: 128px;
  left: 36px;
  height: 21px;
}
.elon-musk-vs2,
.lorem-ipsum2,
.mrbeast-is-god2,
.period-of-jokowi2 {
  position: absolute;
  line-height: 100%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 164px;
}
.period-of-jokowi2 {
  top: 358px;
  left: 37px;
  height: 21px;
}
.elon-musk-vs2,
.mrbeast-is-god2 {
  left: 36px;
}
.mrbeast-is-god2 {
  top: 289px;
  color: var(--white);
  height: 21px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.elon-musk-vs2 {
  top: 220px;
  height: 16px;
}
.workspace4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 239.75px;
  height: 1080px;
  font-size: var(--font-size-lg);
}
.vector-icon21 {
  position: absolute;
  height: 45%;
  width: 2.14%;
  top: 30%;
  right: 78.33%;
  bottom: 25%;
  left: 19.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.top-notch-child3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1680px;
  height: 80px;
}
.vector-icon22,
.vector-icon23,
.vector-icon24 {
  position: absolute;
  height: 20%;
  width: 0.24%;
  top: 40%;
  right: 79.87%;
  bottom: 40%;
  left: 19.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon23,
.vector-icon24 {
  height: 33.75%;
  width: 1.49%;
  top: 33.75%;
  right: 90.82%;
  bottom: 32.5%;
  left: 7.69%;
}
.vector-icon24 {
  height: 2.5%;
  width: 1.79%;
  top: 72.5%;
  right: 90.64%;
  bottom: 25%;
  left: 7.57%;
}
.balanced1 {
  position: absolute;
  top: 30px;
  left: 221.25px;
  line-height: 100%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 108px;
  height: 20px;
  cursor: pointer;
}
.vector-icon25 {
  height: 37.5%;
  width: 1.79%;
  top: 33.75%;
  right: 96.35%;
  bottom: 28.75%;
  left: 1.86%;
}
.vector-icon25,
.vector-icon26,
.vector-icon27 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon26 {
  height: 50%;
  width: 2.38%;
  top: 25%;
  right: 14.27%;
  bottom: 25%;
  left: 83.35%;
  cursor: pointer;
}
.vector-icon27 {
  height: 37.5%;
  width: 1.79%;
  top: 31.25%;
  right: 20.82%;
  bottom: 31.25%;
  left: 77.4%;
}
.welcome-user1 {
  position: absolute;
  top: 31px;
  left: 1471.25px;
  font-size: var(--font-size-lg);
  line-height: 100%;
  font-weight: 600;
  color: var(--color-black);
  cursor: pointer;
}
.top-notch-child4,
.top-notch-child5,
.top-notch-child6,
.top-notch-child7,
.top-notch-child8 {
  position: absolute;
  top: -0.5px;
  left: 1364.75px;
  border-right: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 1px;
  height: 81px;
}
.top-notch-child5,
.top-notch-child6,
.top-notch-child7,
.top-notch-child8 {
  left: 1265.75px;
}
.top-notch-child6,
.top-notch-child7,
.top-notch-child8 {
  left: 91.75px;
}
.top-notch-child7,
.top-notch-child8 {
  left: 189.75px;
}
.top-notch-child8 {
  left: 370.75px;
}
.image-removebg-preview-3-icon1 {
  position: absolute;
  top: 0;
  left: 756.25px;
  width: 181.73px;
  height: 80px;
  object-fit: cover;
}
.top-notch1 {
  position: absolute;
  height: 7.41%;
  width: 87.5%;
  top: 0;
  right: 0;
  bottom: 92.59%;
  left: 12.5%;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
}
.user-chat-file-inner {
  position: absolute;
  top: 0;
  left: 505px;
  border-radius: 0 var(--br-mini) var(--br-mini) var(--br-11xl);
  background-color: var(--color-steelblue);
  width: 505px;
  height: 75px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.lorem-ipsumtxt2 {
  position: absolute;
  top: 19px;
  left: 47px;
  line-height: 100%;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 373px;
  height: 38px;
}
.vector-icon28 {
  position: absolute;
  height: 45.47%;
  width: 6.01%;
  top: 32.78%;
  right: 90.67%;
  bottom: 21.75%;
  left: 3.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.user-chat-file2 {
  position: absolute;
  top: 161px;
  left: 1349px;
  width: 505px;
  height: 75px;
  text-align: left;
}
.bot-chat-file-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 var(--br-xl) var(--br-xl) var(--br-21xl);
  background-color: var(--color-gray-100);
  width: 1194px;
  height: 369px;
}
.lorem-ipsum-dolor2 {
  position: absolute;
  top: 2px;
  left: 72px;
  line-height: 100%;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 858px;
  height: 337px;
}
.extra-references-icon2,
.key-findings-icon2 {
  position: absolute;
  height: 9.96%;
  width: 2.45%;
  top: 7.72%;
  right: 2.95%;
  bottom: 82.32%;
  left: 94.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.extra-references-icon2 {
  height: 9.49%;
  width: 2.93%;
  top: 7.86%;
  right: 7.62%;
  bottom: 82.66%;
  left: 89.45%;
}
.bot-chat-file2 {
  position: absolute;
  top: 317px;
  left: 286px;
  width: 1194px;
  height: 369px;
  text-align: left;
}
.input-bar-child2,
.input-bar-child3 {
  position: absolute;
  top: 0;
  left: 0.01px;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray-100);
  width: 1052px;
  height: 80px;
}
.input-bar-child3 {
  left: 0;
  border-radius: var(--br-5xs) 0 0 var(--br-5xs);
  background-color: var(--color-goldenrod-200);
  width: 80px;
}
.vector-icon30 {
  position: absolute;
  height: 43.75%;
  width: 3.33%;
  top: 31.3%;
  right: 94.58%;
  bottom: 24.96%;
  left: 2.09%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.input-text-or2 {
  position: absolute;
  top: 25px;
  left: 80.01px;
  line-height: 100%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 296px;
  height: 35px;
}
.enter-icon2 {
  position: absolute;
  height: 25%;
  width: 1.9%;
  top: 37.5%;
  right: 3.33%;
  bottom: 37.5%;
  left: 94.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.input-bar2 {
  position: absolute;
  top: 960px;
  left: 576px;
  width: 1052.01px;
  height: 80px;
  font-size: var(--font-size-6xl);
  color: var(--color-gainsboro);
}
.group-child2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  background-color: var(--color-gray-200);
  width: 181px;
  height: 125px;
}
.detail1,
.simple1 {
  position: absolute;
  top: 21px;
  left: 31px;
  line-height: 100%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 108px;
  height: 20px;
}
.detail1 {
  top: 82px;
}
.group-child3 {
  position: absolute;
  top: 59.5px;
  left: 14.5px;
  width: 153px;
  height: 3px;
}
.rectangle-container {
  position: absolute;
  top: 80px;
  left: 430px;
  width: 181px;
  height: 125px;
  font-size: var(--font-size-xl);
  color: var(--white);
}
.workspace-root {
  position: relative;
  background-color: var(--color-darkslategray-300);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: var(--heading-size);
  color: var(--color-whitesmoke);
  font-family: var(--body-large-regular);
}
