.group-child,
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray-300);
  width: 1920px;
  height: 1080px;
}
.group-item {
  background-color: var(--color-goldenrod-100);
  width: 960px;
}
.email {
  flex: 1;
  position: relative;
  line-height: 100%;
  text-transform: capitalize;
}
.email-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconeye {
  position: relative;
  width: 24px;
  height: 24px;
  display: none;
}
.iconeye-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.frame-group,
.input-text,
.input-text-wrapper {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  width: 400px;
}
.input-text input[type="text"] {
  flex: 1;
  border-radius: var(--br-5xs);
  border: 1.5px solid var(--text-primary);
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
  gap: var(--gap-8xs);
  width: 100%;
  color: black; 
  background-color: transparent;
}
.frame-group,
.input-text-wrapper {
  align-items: flex-start;
}
.input-text-wrapper {
  height: 48px;
  flex-direction: row;
  font-size: var(--body-medium-regular-size);
  color: var(--text-primary);
}
.frame-group {
  flex-direction: column;
  gap: var(--gap-xs);
}
.forgot {
  position: relative;
  line-height: 100%;
  text-transform: capitalize;
  color: var(--color-darkslateblue-100);
  text-align: right;
}
.iconeye1 {
  position: relative;
  width: 24px;
  height: 24px;
}
.frame-parent,
.input-text-container,
.input-text1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  width: 400px;
}
.input-text1 input[type="password"] {
  flex: 1;
  border-radius: var(--br-5xs);
  border: 1px solid var(--text-primary);
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
  gap: var(--gap-8xs);
}
.frame-parent,
.input-text-container {
  flex-direction: column;
  align-items: flex-start;
}
.input-text-container {
  font-size: var(--body-medium-regular-size);
  color: var(--text-secondary);
}
.frame-parent {
  gap: var(--gap-5xl);
}
.login-now {
  position: relative;
  line-height: 100%;
  font-weight: 600;
}
.buttons {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslateblue-200);
  width: 400px;
  height: 52px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.buttons-wrapper {
  position: relative;
  width: 400px;
  height: 52px;
}
.login-inner,
.login1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-inner {
  align-self: stretch;
  justify-content: flex-start;
  cursor: pointer;
  color: var(--white);
}
.login1 {
  position: absolute;
  top: 53.21px;
  left: 0;
  border-radius: var(--br-3xs);
  width: 400px;
  justify-content: center;
  gap: 32px;
}
.dont-have-an,
.sign-up {
  position: relative;
  line-height: 100%;
  text-transform: capitalize;
}
.sign-up {
  color: var(--color-darkslateblue-100);
  cursor: pointer;
}
.dont-have-an-account-parent {
  position: absolute;
  top: 343.27px;
  left: 70px;
  height: 13.73px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.login-to-your,
.welcome-back {
  position: relative;
  line-height: 100%;
}
.welcome-back {
  display: none;
}
.login-to-your {
  font-size: var(--heading-size);
  font-weight: 600;
  color: var(--text-primary);
}
.welcome-back-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 24.03px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  color: var(--text-secondary);
}
.login-parent {
  position: absolute;
  top: 332px;
  left: 280px;
  width: 400px;
  height: 357px;
}
.welcome-to-paperbite {
  position: absolute;
  top: 183px;
  left: 1060px;
  font-size: var(--heading-size);
  line-height: 100%;
  font-weight: 600;
  color: var(--white);
  display: flex;
  align-items: center;
  width: 789px;
  height: 643px;
}
.login {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}
.image-removebg-preview-6-icon {
  position: absolute;
  top: 32px;
  left: 337px;
  width: 273px;
  height: 155.4px;
  object-fit: cover;
}
.login-page {
  position: relative;
  width: 100%;
  height: 1080px;
  text-align: left;
  font-size: var(--body-large-regular-size);
  color: var(--color-gray-200);
  font-family: var(--body-large-regular);
}
